.sponsorships-layout {
    background-color: #fff;
    cursor: pointer;
}

.sp-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60vh;
    padding: 10px;
    margin: 17px auto;
  }
  
  .sp-card > img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  .card-tag {
    width: 20px;
    cursor: pointer;
  }
  
  .card-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
  }
  
  .card-desc {
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
  }
  
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  
  .loading-container {
    height: 50vh;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
  
  .loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
  
  .loading__letter {
    font-size: 88px;
    font-weight: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Audiowide";
    color: #17386e;
    margin-top: 40px;
    font-family: "Poppins";
  }
  
  @keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-40px);
    }
    80%,
    100% {
        transform: translateY(0px);
    }
  }
  
  .loading__letter {
    font-size: 88px;
    font-weight: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .loading__letter:nth-child(2) {
    animation-delay: 0.1s;
    color: hsl(0, 80%, 60%);
  }
  .loading__letter:nth-child(3) {
    animation-delay: 0.2s;
    color:  hsl(204, 100%, 50%);
  }
  .loading__letter:nth-child(4) {
    animation-delay: 0.3s;;
    color: hsl(120, 80%, 60%);
  }
  .loading__letter:nth-child(5) {
    animation-delay: 0.4s;
    color: hsl(211, 80%, 60%);
  }
  .loading__letter:nth-child(6) {
    animation-delay: 0.5s;
    color: hsl(180, 80%, 60%);
  }
  .loading__letter:nth-child(7) {
    animation-delay: 0.6s;
  }
  .loading__letter:nth-child(8) {
    animation-delay: 0.8s;
    color:hsl(0, 80%, 60%);
  }
  .loading__letter:nth-child(9) {
    animation-delay: 1s;
    color: hsl(211, 80%, 60%);
  }
  .loading__letter:nth-child(10) {
    animation-delay: 1.2s;
  }

  @media screen and (max-width: 700px) {
    .loading__letter {
        font-size: 63px;
        margin-top: 80px;
    }
  }

  @media screen and (max-width: 500px) {
    .loading__letter {
        font-size: 53px;
        margin-top:70px;
    }
  }