.spcard-container {
    border: 1px solid rgba(0, 0, 0, 0.374);
    border-radius: 5px;
    width: 34%;
    margin: 30px;
}

.spcard-container>img {
    width: 100%;
}

.spcard-container>p {
    margin: 20px 0;
    padding: 0 10px;
    font-size: 14px;
}

.spcard-container>div {
    padding:0 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.sp-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #075d7f;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-right: 15px;
}

.sponsor > p {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.634);
}

.sponsor > p > span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.793);
}

@media screen and (max-width:1100px) {
    .spcard-container {
        width: 40%;
    }
}

@media screen and (max-width:700px) {
    .spcard-container {
        width: 70%;
    }
}