.hero-section {
    background: rgb(0, 191, 255);
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.hero-section>h1 {
    margin-top: 120px;
    color: #fff;
    font-weight: 800;
    font-size: 4rem;
}

.hero-section>p {
    color: #fff;
    line-height: 29px;
    font-weight: 500;
    font-size: 1.8rem;
}

.hero-section>h4 {
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    margin: 50px 0;
}

.hero-section>button {
    padding: 16px 98px;
    margin-left: 5px;
    color: black;
    box-sizing: border-box;
    font-size: 2rem;
}

.hero-section>button:last-of-type {
    background: #EA0100;
    padding: 16px 98px;
    box-sizing: border-box;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 40px;
}