.hero-section {
    background: rgb(7, 48, 62);
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    height: 90vh;
    overflow: hidden;
}

.hero-section>h1 {
    margin-top: 130px;
    color: #fff;
    font-weight: 800;
    font-size: 55px;
    line-height: 1.3;
    transition: 0.5s ease-in-out;
}

.hero-section>p {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    transition: 0.5s ease-in-out;
}

.hero-section>h4 {
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
}

.hero-btn>a {
    padding: 10px 50px;
    margin-left: 5px;
    color: black;
    box-sizing: border-box;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #fff;
    text-decoration: none;
    border-radius: 7px;
}

.hero-btn>a:last-of-type {
    background: #EA0100;
    padding: 10px 50px;
    box-sizing: border-box;
    font-size: 30px;
    color: #fff;
    border: 1px solid #EA0100;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .hero-section>h1 {
        font-size: 40px;
    }

    .hero-section>p {
        font-weight: 600;
        font-size: 23px;
    }

    .hero-section>h4 {
        font-weight: 800;
        font-size: 30px;
    }

    .hero-btn>a:last-of-type {
        padding: 6px 43px;
        font-size: 27px;
    }

    .hero-btn>a {
        padding: 6px 43px;
        font-size: 27px;
    }
}


@media screen and (max-width:700px) {

    .hero-section>h1 {
        font-size: 30px;
    }

    .hero-section>p {
        font-weight: 600;
        font-size: 20px;
    }

    .hero-section>h4 {
        font-weight: 800;
        font-size: 23px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

    .hero-btn > a{
        margin:5px;
    }
}