.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #fff;
}

.input-container > input {
    width: 20%;
    margin: 8px auto;
    padding: 15px 10px;
    outline: none;
    background: #D9D9D9;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}

.input-container > button {
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    width: 20%;
}