.sponsors {
  background: #fff;
  overflow: hidden;
  padding: 0 30px;
}

.sponsorship-search {
  border: 1px solid black;
  margin: 50px auto;
}

.sponsor-section {
  padding: 0 23px;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid rgba(142, 128, 128, 0.461);
}

.sponsorships-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 12px;
}

.sponsor-btn {
  text-align: center;
  /* background: #17386e;
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700; */
}

.sponsor-btn-continue {
  margin: 0 auto;
  text-align: right;
  padding: 40px 0;
}

.sponsor-cont {
  display: flex;
  margin: 0 auto;
}

.sponsor-btn-next {
  background: #17386e;
  border-radius: 3px;
  padding: 20px 35px;
  margin-top: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.sponsorship-search {
  border: 1px solid black !important;
  margin: 50px auto;
}

.sponsorship-form {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.sponsorship-form-control > div > input {
  padding: 10px 20px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.55);
}

.sponsorship-form-control > div > textarea {
  padding: 10px 20px;
  width: 100%;
  outline: none;
  resize: none;
}

.sponsor-login-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px auto;
  width: 50%;
}

.btn-default {
  padding: 20px;
  background: #17386e;
  color: #fff;
  font-weight: 700;
}

.sponsor-bid-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.sponsor-bid-from > div,
.sponsor-bid-control, .sponsor-bid-align > div {
  display: flex;
  justify-content: space-between;
}

.sponsor-form {
  padding:10px 25px ;
  width: 50%;
  margin: 50px auto;
  background: #fff;
}

.sponsor-bid-control > div > input,
.sponsor-bid-from > div > input
{
  padding: 10px 15px;
}

.sponsor-bid-control > div > textarea {
  resize: none;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}

 .form-text {
  margin: 20px 0;
  font-weight: 800;
  font-family: "poppins", sans-serif;
}

.btn-primary {
  background: #17386e;
  color: #fff;
  padding: 15px;
  font-weight: 800;
  font-family: "poppins", sans-serif;
}