.sponsors {
  background: #fff;
  overflow: hidden;
  padding: 0 30px;
}

.sponsors > h2 {
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.792);
  margin: 20px 0;
}

.input {
  display: block;
  width: 100%;
  padding: 12px 6px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0 30px auto;
  font-weight: 400;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.792);
}

.page-header {
  text-align: center;
  margin: 40px 0;
  font-weight: 500;
}

.sponsor-section {
  padding: 0 23px;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid rgba(142, 128, 128, 0.461);
}

.sponsorships-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 12px;
}

.sponsor-btn {
  text-align: center;
}

.sponsor-btn-continue {
  margin: 0 auto;
  text-align: right;
  padding: 40px 0;
}

.sponsor-cont {
  display: flex;
  margin: 0 auto;
}

.sponsor-btn-next {
  background: #17386e;
  border-radius: 3px;
  padding: 20px 35px;
  margin-top: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.sponsorship-search {
  border: 1px solid black !important;
}

.sponsorship-form {
  display: flex;
  justify-content: space-between;
  width: 52%;
  margin: 0 auto;
}

.sponsorship-form > h2 {
  text-align: center;
}

.sponsorship-form-control > div {
  margin: 15px;
}

.sponsorship-form-control > div > input {
  padding: 10px 20px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.55);
  margin: 10px 0;
}

.sponsorship-form-control > div > textarea {
  padding: 10px 20px;
  width: 100%;
  outline: none;
  resize: none;
  margin: 10px 0;
}

.sponsor-login-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px auto;
  width: 50%;
}

.btn-default {
  padding: 20px;
  background: #17386e;
  color: #fff;
  font-weight: 700;
}

.sponsor-bid-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sponsor-bid-from > div,
.sponsor-bid-control,
.sponsor-bid-align > div {
  display: flex;
  justify-content: space-between;
}

.sponsor-form {
  padding: 10px 25px;
  width: 50%;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
}

.sponsor-form > h2 {
  font-family: "Public Sans", sans-serif;
  text-align: center;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.792);
}

.sponsor-form > label {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

.sponsor-bid-control > div > input,
.sponsor-bid-from > div > input {
  padding: 10px 15px;
}

.sponsor-bid-control > div > textarea {
  resize: none;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.form-text {
  margin: 20px 0;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 978px) {
  .sponsorships-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .sponsor-form {
    width: 80%;
  }

  .sponsorship-form {
    flex-direction: column;
  }

  .sponsorship-form-control > div {
    margin: 15px 0;
    width: 107%;
  }
}

@media screen and (max-width: 580px) {
  .sponsors > h2 {
    font-size: 5.9vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.792);
    margin: 50px 0;
  }

  .sponsor-form {
    padding: 10px 25px;
    width: 90%;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
  }
}
