.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 80%;
}

.event-container {
    padding: 0 50px;
    background: #fff;
    overflow: hidden;
    height: 100vh;
}

.event-container>h2 {
    margin-top: 60px;
}

.search-events {
    display: flex;
    border: 1px solid #EBEBEB;
    width: 300px;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
    border-radius: 5px;
}

.search-events>span {
    width: 10%;
    text-align: center;
}

.search-events>input {
    border: none;
    padding: 15px;
    background: #EBEBEB;
    outline: none;
    font-size: 13px;
    width: 70%;
}

.event-rows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.event-btn {
    float: right;
    margin-top: 50px;
}

.event-btn>a {
    padding: 15px 30px;
    background: #17386E;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

/**edit event form*/

.event-form {
    background: #fff;
    overflow: hidden;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.form-control>div>p {
    font-weight: 700;
}

.details>p {
    font-weight: 700;
}

.form-details>input {
    width: 100%;
    border: 1px solid grey;
}

.details {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.details>input,
.price input {
    width: 45%;
    border: 1px solid #24242461;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-family: "poppins";
    font-weight: 700;
}

.input-details {
    background: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #24242461;
    border-radius: 5px;
}

.form-control>div>input,
.tags-form {
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #24242461;
    outline: none;
    width: 100%;
    font-size: 12px;
    font-family: "poppins";
    font-weight: 700;
}

.tag {
    display: flex;
}

.form-checkbox {
    display: flex;
    align-items: center;
}

.form-checkbox>div {
    display: flex;
    margin-right: 20px;
}

.form-checkbox>div>p {
    font-weight: 700;
}

.form-checkbox>div>input {
    cursor: pointer;
}

/**tags*/

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding-left: 14px;
    border-radius: 5px;
    color: black
}

.container input {
    min-width: 30%;
    border: 1px solid rgba(128, 128, 128, 0.913);
    border-radius: 5px;
    padding: 14px;
    padding-left: 14px;
}

.select-events {
    border: 1px solid rgba(128, 128, 128, 0.913);
    border-radius: 5px;
    padding: 14px 31px;
    cursor: pointer;
    font-size: 12px;
    font-family: "poppins";
    font-weight: 700;
}

.description {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -20px;
}


.description>textarea {
    word-wrap: break-word;
    resize: none;
    width: 55%;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    font-size: 12px;
    font-family: "poppins";
    font-weight: 700;
    padding: 5px;
}

.form-upload {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 80%;
}

.upload {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.upload>img {
    position: absolute;
}

.upload__image-wrapper {
    /* top: -75px;
    position: relative;
    display: flex;
    background: transparent;
    opacity: 0;
    z-index:1111;
    height: 37px; */
}

.upload-instruction {
    background: #E8EFFF;
    font-size: 14px;
    padding: 59px 20px;
}

.update-event {
    margin: 30px auto;
    text-align: center;
}

.update-event > a > button{
    background:#17386E;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
/* .upload-instruction > p {
    font
} */