.event-organizer {
  margin: 20px 0 30px 0;
  font-weight: 400;
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins";
  color: rgba(0, 0, 0, 0.792);
  text-transform: capitalize;
  padding: 0 18px;
}

.event-all {
  padding: 0 28px;
}

.event-input {
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.search-events {
  display: flex;
  border: 1px solid #ebebeb;
  width: 300px;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
  border-radius: 5px;
  margin: 32px 0;
}

.search-events > span {
  width: 10%;
  text-align: center;
}

.search-events > input {
  border: none;
  padding: 15px;
  background: #ebebeb;
  outline: none;
  font-size: 13px;
  width: 84%;
}

.event-rows {
  display: flex;
  justify-content: space-between;
  margin: 36px 0;
  padding: 18px;
  border-radius: 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.event-rows > img {
  width: 25%;
  object-fit: contain;
  max-height: 200px;
  border-radius: 5px;
}

.event-rows > div > h3 {
  font-weight: 400;
}

.event-rows > div > div > p {
  font-size: 15px;
  font-weight: 400;
}

.event-form > h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Public Sans", sans-serif;
  margin: 50px 0;
  font-weight: 500;
}

.event-container {
  background: #fff;
  padding: 0 30px;
}

.event-container > h2 {
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.792);
  margin: 20px 0;
}

.event-btn {
  float: right;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

/**edit event form*/

.form {
  width: 70%;
  margin: 0 auto;
}

.event-form {
  background: #fff;
  overflow: hidden;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.form-control > div {
  width: 40%;
  margin-bottom: 20px;
}

.form-control > div > p {
  font-weight: 600;
  font-size: 19px;
}

.form-control > div > input {
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #24242461;
  outline: none;
  width: 100%;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  margin: 15px 10px 10px auto;
  cursor: text;
}

.form-details > input {
  width: 100%;
  border: 1px solid grey;
}

input {
  width: 45%;
  border: 1px solid #24242461;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

#price {
  width: 45%;
}

.input-details {
  background: #fff;
  width: 100%;
  padding: 10px;
  border: 1px solid #24242461;
  border-radius: 5px;
}

.tags-form {
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #24242461;
  outline: none;
  width: 100%;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 700;
}

.tag {
  display: flex;
}

.radio {
  display: flex;
  align-items: center;
  margin: 15px;
}

.radio > label {
  display: flex;
  margin-right: 20px;
}

.radio > label > p {
  font-weight: 700;
}

.radio > label > input {
  cursor: pointer;
  margin-right: 10px;
}

/**tags*/

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border-radius: 5px;
  color: black;
}

.container input {
  min-width: 30%;
  border: 1px solid rgba(128, 128, 128, 0.913);
  border-radius: 5px;
  padding: 14px;
  padding-left: 14px;
}

.select-events {
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #24242461;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 500;
  margin: 15px 10px 30px auto;
  cursor: pointer;
  background: #fff;
}

.description {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -20px;
}

.description > p {
  font-weight: 600;
  font-size: 19px;
  margin-top: 30px;
}

.description > textarea {
  word-wrap: break-word;
  resize: none;
  width: 55%;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 700;
  padding: 5px;
  margin: 30px auto;
}

.description > textarea::placeholder {
  text-align: center;
}

.form-upload {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 0.1fr);
  margin: 0 auto;
  width: 70%;
  place-items: center;
}

.upload {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.upload > img {
  width: 100%;
  height: 50vh;
  border: 2px solid #e8efff;
  border-radius: 10px;
  height: 35vh;
}

.upload-image {
  width: 296px;
  height: 50vh;
}

.upload-preview {
  width: 296px;
  border: 2px solid #e8efff;
  display: grid;
  place-items: center;
  object-fit: contain;
}

.upload-instruction {
  background: #e8efff;
  font-size: 13px;
  padding: 59px 20px;
  width: 90%;
  border-radius: 10px;
}

.upload-instruction > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-hidden {
  display: inline-block;
  width: 100%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png")
    center center no-repeat;
  border-radius: 20px;
  background-size: 60px 60px;
  cursor: pointer;
}

.update-event {
  margin: 30px auto;
  text-align: center;
}

.update-event > a > button {
  background: #17386e;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}

@media screen and (max-width: 1110px) {
  .form-upload {
    width: 80%;
  }

  .event-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }

  .event-btn {
    float: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .form {
    width: 80%;
  }

  .event-input {
    justify-content: center;
  }

  .event-form > h1 {
    font-size: 20px;
  }

  .search-events {
    margin: 22px 0;
    color: rgba(0, 0, 0, 0.792);
  }

  .event-rows > img {
    width: 31%;
    object-fit: contain;
    border-radius: 5px;
  }

  .upload-instruction {
    /* background: #e8efff; */
    font-size: 13px;
    padding: 59px 20px;
    margin-bottom: 30px;
    width: 296px;
  }

  .form-control {
    flex-direction: column;
  }

  .description > textarea {
    padding: 8px;
    height: 184px;
    width: 93%;
  }

  .price {
    flex-direction: column !important;
    margin: auto 0;
  }

  #price {
    width: 70%;
  }

  .radio {
    display: block;
  }

  .radio > label {
    margin: 10px 0px;
  }

  .form-control > div {
    width: 100%;
  }

  .form-upload {
    display: flex;
    flex-direction: column-reverse;
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .event-container > h2 {
    font-size: 5.9vw;
    margin-top: 36px;
    font-weight: 500;
  }
  .form-control > div > p {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }

  .event-rows {
    flex-direction: column;
    text-align: center;
    margin: 45px 0;
  }

  .event-rows > img {
    width: 64%;
    object-fit: contain;
    margin: 0 auto;
  }

  .event-rows > div {
    margin: 15px 0;
  }

  .event-btn {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }

  .form-upload {
    width: 100%;
  }

  .event-container {
    width: 100%;
    background: white;
  }

  .event-rows > div > h3 {
    font-weight: 500;
    font-size: 16px;
  }

  .event-rows > div > div > p {
    font-weight: 300;
    font-size: 15px;
  }

  #price {
    display: flex;
    margin: 0 auto;
  }

  .description > p {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
}
