@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Sora:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

::file-selector-button {
  display: none;
}

::-webkit-file-upload-button {
  display: none;
}

:root {
  scrollbar-color: #0f255f #0f255f;
  scrollbar-width: thin;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #d9d9d9;
  scroll-behavior: smooth;
  height: 100vh;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  font-family: "Poppins";
}



.layout-container {
  overflow: scroll;
  height: 100vh;
  background: #fff;
}

/**input section **/
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #fff;
}

.input-container > input {
  width: 30%;
  margin: 8px auto;
  padding: 10px 10px;
  outline: none;
  background: #d9d9d9;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.input-container > p {
  font-size: 13px;
  color: #000000;
}

.input-container > button {
  background: #0f255f;
  color: #fff;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #0f255f;
  width: 25%;
  font-size: 13px;
  margin: 10px 0;
  font-family: "Public Sans", sans-serif;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px 0;
}

.checkbox-container > input {
  background: #0f255f;
  width: 20%;
  cursor: pointer;
}

.checkbox-container > p {
  font-size: 13px;
  margin: 0 auto;
  width: 80%;
  color: #000;
}

.custom-btn {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #17386e;
  border: 1px solid #17386e;
}

.custom-btn .custom-span {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 12px;
}

.custom-btn:hover {
  animation: custom-btnrotate 0.7s ease-in-out both;
}

.custom-btn:hover .custom-span {
  animation: custom-btnstorm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.btn-primary {
  background: #17386e;
  color: #fff;
  padding: 15px 28px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
}

.btn-primary:hover {
  color: #fff;
  background: #17386eef;
}

@media screen and (max-width: 900px) {
  .input-container > input {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .input-container > input {
    width: 70%;
  }

  .input-container > button {
    width: 40%;
    cursor: pointer;
  }

  .checkbox-container {
    width: 70%;
  }
}
