.subscribe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 14%;
}

.subscribe {
  padding: 22px 20px;
}

.subscribe-header > img {
  margin-right: 15px;
  width: 150px;
}

.subscribe-header > h4 {
  font-size: 25px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  color: #000;
}

.subscribe-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  bottom: 22px;
}

.subscribe-message > div {
  width: 38%;
}

.policy {
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0;
}

.subscribe-wrapper {
  display: flex;
}

.subscribe-wrapper > input {
  width: 338px;
  margin-right: 10px;
}

.subscribe-message > div > h4 {
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  line-height: 140%;
  color: rgb(84, 79, 79);
  margin: 14px 0;
}

.subscribe-message > div > p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.719);
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
  margin: 5px 0 0;
  letter-spacing: 1px;
}

@media screen and (max-width:1111px){
  .subscribe-message > div {
    width: 41%;
  }
}

@media screen and (max-width: 900px) {
  .subscribe {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .policy {
    margin: 12px 0;
  }

  .subscribe-message > div {
    width: 100%;
    line-height: 123%;
    margin: 16px;
  }
  .subscribe-form {
    width: 50%;
  }

  .subscribe-message {
    flex-direction: column;
  }

  .subscribe-header > h4 {
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(49, 47, 47);
  }
  .subscribe-form > .subscribe-btn {
    width: 30%;
  }

  .subscribe-message > div > h4 {
    font-size: 15px;
  }

  .subscribe-message > div > p {
    font-size: 14px;
    color: rgba(27, 26, 26, 0.876);
    font-weight: 400;
  }

  .subscribe-message-text {
    width: 48%;
    color: rgb(37, 36, 36);
    font-family: 800;
  }

  .subscribe-email-input {
    width: 50%;
  }

  .parent-wrapper {
    width: 38%;
  }
}

@media screen and (max-width: 600px) {
  .subscribe-form {
    width: 70%;
  }

  .subscribe-message-text {
    width: 78%;
  }

  .parent-wrapper {
    width: 60%;
  }
}
