.subscribe {
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

.subscribe-header {
    display: flex;
}

.subscribe-header>img {
    margin-right: 15px;
}

.subscribe-header>h4 {
    font-family: "poppins", sans-serif;
    font-size: 25px;
    color: #000;
}

.subscribe-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    bottom: 22px;
}

.subscribe-message>div {
    width: 40%;
}

.subscribe-message>div>h4 {
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-align: start;
    color: rgb(84, 79, 79);
}

.subscribe-message>div>p {
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

.subscribe-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #0F2560;
    width: 70%;
    overflow: hidden;

}

.subscribe-email-input {
    outline: none;
    width: 80%;
    padding: 10px;
    font-size: 15px;
    border: none;
    background: white;
}

.subscribe-form>.subscribe-btn {
    padding: 12px 20px;
    background: #0F2560;
    color: #fff;
    border: 1px solid #0F2560;
    font-size: 13px;
}

.subscribe-message-text {
    font-size: 12px !important;
    font-weight: bold;
    font-family: "inter", sans-serif;
    color: rgb(37, 36, 36);
    font-family: 800;
}


@media screen and (max-width:900px) {

    .subscribe-message>div {
        width: 100%;
    }

    .subscribe-form {
        width: 50%;
    }

    .subscribe-message {
        flex-direction: column;
    }

    .subscribe-form>.subscribe-btn {
        width: 30%;
    }

    .subscribe-message-text {
        width: 48%;
        color: rgb(37, 36, 36);
        font-family: 800;
    }
}

@media screen and (max-width:600px) {
    .subscribe-form {
        width: 80%;
    }

    .subscribe-message-text {
        width: 78%;
    }
}