.support-section {
    display: flex;
    background: #fff;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
    border-top: 1px solid rgba(128, 128, 128, 0.556);
}

.support-signup-link{
    display: none;
}

.support-section>div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.support-section>div>h1 {
    line-height: 143%;
    font-size: 50px;
    font-family: "Sora";
    font-weight: 500;
}

.support-section>div>p {
    font-size: 30px;
    line-height: 143%;
    font-family: "Sora";
    color: rgba(33, 31, 31, 0.83);
}

.support-section>div>span>a {
    line-height: 203%;
    font-size: 19px;
    color: rgba(33, 31, 31, 0.83);
    font-family: "Sora";
}

.support-section>img {
    width: 500px;
    margin: 0 auto;
}

.support-signup {
    background: #fff;
    overflow: hidden;
}

.support-signup>h1 {
    width: 70%;
    text-align: start;
    padding: 0 50px 50px 60px;
    font-size: 30px;
    font-weight: 500;
}

.btn {
    margin-left: 20px;
}

@media screen and (max-width: 1100px) {

    .support-section>img {
        width: 400px;
    }

    .support-section>div>h1 {
        font-size: 40px;
    }

    .support-section>div>p {
        font-size: 20px;
    }

    .support-signup>h1>span {
        color:rgb(21, 64, 132)
    }

    .support-signup>h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 800px) {

    .support-section>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .support-section {
        flex-direction: column;
    }

    .support-section>img {
        width: 400px;
        margin: 0;
    }

    .support-section > div > h1 {
        font-size: 41px;
        margin-top: 60px;
      }

    .support-section>div>p {
        font-size: 25px;
        text-align: center;
    }

    .support-signup>h1 {
        width: 100%;
        font-size: 23px;
    }
}


@media screen and (max-width: 400px) {

    .support-section > div > h1 {
        font-size: 28px;
        margin-top: 60px;
        text-align: center;
      }

      
    .support-section > img {
        width: 250px;
        margin: 0;
      }

}