h4 {
    font-size: 25px;
    color: #8B7E7E;
    margin-top: 70px;
}

.product-section {
    display: flex;
    background: #fff;
    overflow-y: hidden;
    padding: 40px 50px 0 50px;
    justify-content: space-between;
}

.product-details , .product {
    width: 45%;
}

.product-card {
    border: 2px solid #8b7e7e57;
    border-radius: 5px;
    padding:15px;
}

hr {
    color:rgba(215, 206, 206, 0.379);
    height: 80vh;
}