.modal-layout {
  background: #afa5a5a9;
  position: fixed;
  z-index: 900000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.modal-layout > img {
  border-radius: 50%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  width: 60px;
  margin-bottom: 10px;
  position: relative;
  top: 0;
}

.modal-layout > img:hover {
  color: #17386e;
  box-shadow: 0 0 5px #17386e;
  text-shadow: 0 0 1px rgba(9, 248, 244, 0.439);
}

.modal-layout > div {
  width: 40%;
  line-height: 146%;
  padding: 4px;
  background: #fff;
  border-radius: 5px;
  height: 90vh;
  overflow: scroll;
  border-top: 7px solid white;
  transition: 0.5s;
}

.sponsor-image {
  width: 73%;
  object-fit: contain;
  margin: 0 auto;
  display: flex;
}

.modal-layout > div > h4 {
  text-align: center;
  margin: 10px 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.modal-layout > div > p {
  text-align: center;
  margin: 10px 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.modal-layout > div > .address {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 13px 0;
}

.modal-layout > div > h5 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  margin: 13px 0;
  text-align: center;
}

.modal-layout > div > p {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 13px 0;
}

.create-bid {
  margin: 0 auto;
}

.sponsor-btn {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

@keyframes custom-btnrotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes custom-btnstorm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media screen and (max-width: 1100px) {
  .modal-layout > div {
    width: 60%;
    height: 100vh;
  }
}

@media screen and (max-width: 900px) {
  .modal-layout > div {
    width: 50%;
    height: 85vh;
  }
}

@media screen and (max-width: 600px) {
  .modal-layout > div > p {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin: 13px 0;
  }

  .modal-layout > div {
    width: 50%;
    height: 77vh;
  }
}

@media screen and (max-width: 500px) {
  .modal-layout > div {
    width: 80%;
  }
}
