.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
}

.brand-name {
    text-decoration: none;
    color: black;
    margin-left: 2rem;
    width: 40%;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color:#000;
}

.loginButton, .menu-btn {
    margin-right: 2rem;
    background: #17386E;
    color: #fff;
    padding: 10px 19px;
    border-radius: 3px;
    border: #17386E;
    font-size: 14px;
}

.createEvents{
    display: flex;
    align-items: center;
}

.loginBtnMobile, .menu-btn-mobile {
    display: none;
    background: #17386E;
    color: #fff;
    padding: 7px 19px;
    border-radius: 3px;
    border: #17386E;
}


.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #17386E;
}

@media screen and (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .navigation-menu {
        flex-direction: column;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: white;
        border-top: 1px solid black;
        display: none;
    }

    .createEvents > li{
        display: none;
    }

    .loginButton{
        display: none;
    }

    .loginBtnMobile{
        display: block;
        text-align: center;
        width: 20%;
        margin: auto;
    }
    
    .navigation-menu li {
        text-align: center;
        margin: 0;
    }

    .navigation-menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }

    .navigation-menu.expanded ul {
        display: block;
        z-index: 111111111;
    }
}