.navbar {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.245);
}

.nav {
  background: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.245);
}

.brand-name > img {
  width: 110px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 16px;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  /* margin-right: 1rem; */
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .planetbase > img {
    width: 118px;
  }

  .nav-icon {
    font-size: 26px;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fff;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
  }
  .nav-item .active {
    color: #17386e;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: #000;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #17386e;
  }
  .nav-item:hover:after {
    width: 50%;
    background: #17386e;
    margin: 0 auto;
  }

  .nav-item .active {
    color: #17386e;
    border: 1px solid #17386e;
  }
  
}
