.navigation {
    display: flex;
    align-items: center;
    position: sticky;
    height: 70px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
}

.nav {
    position: sticky;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
    margin-top: 10px;
    background: #fff;
    margin: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(101, 97, 97, 0.381);
}

.nav > img {
    margin-right: 15px;
    border-radius: 100%;
}

.na > p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins";
    color: rgb(176, 20, 20);
}

.brand-name {
    text-decoration: none;
    color: black;
    margin-left: 2rem;
    width: 40%;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navigation-menu li a {
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(20, 19, 19);
}

.loginButton,
.menu-btn {
    margin-right: 2rem;
    background: #17386E;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    border: #17386E;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.createEvents {
    display: flex;
    align-items: center;
}

.brand-name > img {
    border-radius: 100%;
}

.login {
    display: none;
}

.loginBtnMobile,
.menu-btn-mobile {
    display: none !important;
    background: #17386E;
    color: #fff;
    padding: 7px 19px;
    border-radius: 3px;
    border: #17386E;
}


.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #17386E;
}

@media screen and (max-width: 1100px) {
    .hamburger {
        display: block;
    }

    .navigation-menu {
        flex-direction: column;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: white;
        border-top: 1px solid black;
        display: none;
    }

    .createEvents>li {
        display: none;
    }


    .loginButton {
        display: none;
    }

    .loginBtnMobile {
        display: block !important;
        text-align: center;
        margin: auto;
        color: #fff;
        padding: 20px 50px;
    }

    .login {
        display: block;
    }

    .navigation-menu li {
        text-align: center;
        margin: 49px;
    }

    .navigation-menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }

    .navigation-menu.expanded ul {
        display: block;
        z-index: 111111111;
    }
}