.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.408);
    margin: 30px 0;
    background:#D9D9D9;
}

.footer>div {
    line-height: 163%;
    margin: 14px 0;
}

.footer>div>h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.footer>div>p {
    color: rgba(0, 0, 0, 0.845);
    font-weight: 400;
    font-size: 13px;
}

.footer>div>p>a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width:900px){
    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}