.sp-card {
  /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 80%; */
    display: flex;
    flex-direction: column;
    width: 90%;
}

.sp-card > img {
  width: 100%;
}

.card-tag {
  width: 20px;
  cursor: pointer;
}

.card-title {
  font-weight: 900;
  font-size: 18px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
