h1{
    text-align: center;
    font-size: 35px;
}

.signup {
    background: #fff;
    margin: 0;
    overflow: hidden;
}

.signup-header {
    text-align: center;
}

.signup-header {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #000000;
}

.signup-message {
    color: #0F255F;
    text-decoration: none;
}


.signup-section {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.signup-link > p{
    position: relative;
    top: -10px;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}




