
.sign-up {
      margin: 0;
}

.sign-up > h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 500;
}


.signup-header {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin:10px;
    color: #000000;
    margin: 25px;
}

.signup-message {
    color: #0F255F;
    text-decoration: none;
}


.sign-up-section {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.sign-up-link >a > p{
    position: relative;
    top: -5px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}


@media screen and (max-width:900px) {
    .sign-up-section {
        width: 37%;
    }

    .signup-header {
        font-size: 15px;
        font-weight: 400;
      }

      .input-container > input {
        font-size: 13px;
      }
}

@media screen and (max-width:500px) {
    .sign-up-section {
        width: 50%;
    }

}